
body {
    background: url('../images/bg.jpeg') no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}





/*body {
    background-image: url(../images/background.jpg); /*You will specify your image path here by samson

    background-size: cover;
    background-size: cover;
    background-color: black;
    background-size: cover;
    background-position: top center !important;
    background-repeat: no-repeat !important;
    background-attachment: fixed;
}
*/
